$title-size: 4rem;
$subtitle-size: 2.25rem;
$text-size1: 1rem;
$text-size2: 1.5rem;
$text-size3: 2rem;
$border-radius: .938rem;
$font-family: 'Outfit', sans-serif;
$bg: linear-gradient(116.38deg, #FB7E3A 0.63%, #FDB248 100%);