@import './sass/variables';
@import './sass/mixing';
@import './components/Card_input/index.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  background: $bg;


  
}

h1.title {
  color: white;
  text-align: center;
  margin-top: 3rem;
  font-size: $title-size;
  font-weight: 400;
}