@import "./sass/variables";
@import "./sass/mixing";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  background: $bg;
}

h1.title {
  color: white;
  text-align: center;
  margin-top: 3rem;
  font-size: $title-size;
  font-weight: 400;
}
